[submodule "themes/vintage-web-hugo-theme"]
	path = themes/vintage-web-hugo-theme
	url = https://github.com/raisingpixels/vintage-web-hugo-theme.git
[submodule "themes/hugo-texify3"]
	path = themes/hugo-texify3
	url = https://github.com/michaelneuper/hugo-texify3.git
